body {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}

footer {
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color:#ff3300;
}

a {
    text-decoration: none;
    color:#ff3300;
}

a:hover {
    text-decoration-line: underline;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    height: 435px;
    width: 650px;
    border: 1px solid #8c8c8c;
}